@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(0.9882 0.0069 88.6415);
    --foreground: oklch(0.2486 0.041 271.0397);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2486 0.041 271.0397);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2486 0.041 271.0397);
    --primary: oklch(0.7665 0.1387 91.0594);
    --primary-foreground: oklch(0.2486 0.041 271.0397);
    --secondary: oklch(0.2486 0.041 271.0397);
    --secondary-foreground: oklch(0.9882 0.0069 88.6415);
    --muted: oklch(0.9615 0.0098 87.4713);
    --muted-foreground: oklch(0.5257 0.0293 270.8073);
    --accent: oklch(0.9615 0.0098 87.4713);
    --accent-foreground: oklch(0.2486 0.041 271.0397);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.1807 0.0581 267.75);
    --input: oklch(0.886 0.0254 89.224);
    --ring: oklch(0.7665 0.1387 91.0594);
    --chart-1: oklch(0.7665 0.1387 91.0594);
    --chart-2: oklch(0.2486 0.041 271.0397);
    --chart-3: oklch(0.8078 0 0);
    --chart-4: oklch(0.9175 0.1125 94.1986);
    --chart-5: oklch(0.5257 0.0293 270.8073);
    --sidebar: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
        0px 4px 8px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
        0px 4px 8px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
        0px 4px 8px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
        0px 4px 8px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
        0px 4px 8px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0px;
    --spacing: 0.25rem;
    --shadow-color: #000000;
    --shadow-opacity: 0.1;
    --shadow-blur: 8px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 4px;
    --letter-spacing: 0px;
}

.dark {
    --background: oklch(0.1933 0.0252 269.7772);
    --foreground: oklch(0.9882 0.0069 88.6415);
    --card: oklch(0.2486 0.041 271.0397);
    --card-foreground: oklch(0.9882 0.0069 88.6415);
    --popover: oklch(0.2486 0.041 271.0397);
    --popover-foreground: oklch(0.9882 0.0069 88.6415);
    --primary: oklch(0.7665 0.1387 91.0594);
    --primary-foreground: oklch(0.2486 0.041 271.0397);
    --secondary: oklch(0.3414 0.0631 270.6876);
    --secondary-foreground: oklch(0.9882 0.0069 88.6415);
    --muted: oklch(0.3414 0.0631 270.6876);
    --muted-foreground: oklch(0.7282 0.0258 267.8474);
    --accent: oklch(0.3414 0.0631 270.6876);
    --accent-foreground: oklch(0.9882 0.0069 88.6415);
    --destructive: oklch(0.3958 0.1331 25.723);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9202 0.0136 240.96);
    --input: oklch(0.3414 0.0631 270.6876);
    --ring: oklch(0.7665 0.1387 91.0594);
    --chart-1: oklch(0.7665 0.1387 91.0594);
    --chart-2: oklch(0.9882 0.0069 88.6415);
    --chart-3: oklch(0.8078 0 0);
    --chart-4: oklch(0.9175 0.1125 94.1986);
    --chart-5: oklch(0.7282 0.0258 267.8474);
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.13);
    --shadow-xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.13);
    --shadow-sm:
        0px 4px 12px 0px hsl(0 0% 0% / 0.25),
        0px 1px 2px -1px hsl(0 0% 0% / 0.25);
    --shadow:
        0px 4px 12px 0px hsl(0 0% 0% / 0.25),
        0px 1px 2px -1px hsl(0 0% 0% / 0.25);
    --shadow-md:
        0px 4px 12px 0px hsl(0 0% 0% / 0.25),
        0px 2px 4px -1px hsl(0 0% 0% / 0.25);
    --shadow-lg:
        0px 4px 12px 0px hsl(0 0% 0% / 0.25),
        0px 4px 6px -1px hsl(0 0% 0% / 0.25);
    --shadow-xl:
        0px 4px 12px 0px hsl(0 0% 0% / 0.25),
        0px 8px 10px -1px hsl(0 0% 0% / 0.25);
    --shadow-2xl: 0px 4px 12px 0px hsl(0 0% 0% / 0.63);
    --shadow-color: #000000;
    --shadow-opacity: 0.25;
    --shadow-blur: 12px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 4px;
    --letter-spacing: 0px;
    --spacing: 0.25rem;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-inter);
    --font-mono: monospace;
    --font-serif: var(--font-arcuata-serif);
    --font-main: var(--font-arcuata-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --radius: 0.5rem;
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
}

body {
    letter-spacing: var(--tracking-normal);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }
}
